<style>
@media print {
  body {
    margin: 0;
    padding: 0;
    width: 80mm; /* Width of the paper */
    font-family: Arial, sans-serif;
  }

  .container {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header, .footer {
    text-align: center;
    font-size: 14px;
  }

  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .details {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .details div {
    margin-bottom: 5px;
  }

  .qr-code {
    text-align: center;
    margin-top: 20px;
  }

  .qr-code img {
    max-width: 100%;
  }
}
</style>

<div class="containersss">
    <div class="header">
      <h1>Dispatch Details</h1>
    </div>

    <%= render @dispatch %>

    <div class="qr-code">
      <p><strong>QR Code:</strong></p>
      <%= raw @dispatch.qr_code %>
      <p> <%= @dispatch.id %></p>
    </div>
</div>
<div>
  <div class="no-print">
    <div class="actions">
      <%= link_to 'New Dispatch', new_dispatch_path, class: 'btn btn-success mt-3' %>
      <%= link_to "Edit this dispatch", edit_dispatch_path(@dispatch), class: 'btn btn-primary mt-3' %>
      <%= link_to "Back to dispatches", dispatches_path, class: 'btn btn-info mt-3' %>
      <%= button_to "Delete", @dispatch, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger mt-3' %>
    </div>
  </div>
</div>
  <% if flash[:just_created] %>
  <script type="text/javascript">
    window.addEventListener('load', function() {
      window.print();
    });
  </script>
<% end %>