<div id="<%= dom_id driver %>">
  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>License number:</strong>
    <%= driver.license_number %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= driver.contact_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= driver.address %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= driver.birthdate %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= driver.status %>
  </p>

</div>
