<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :barangay, style: "display: block" %>
    <%= form.text_field :barangay %>
  </div>

  <div>
    <%= form.label :town, style: "display: block" %>
    <%= form.text_field :town %>
  </div>

  <div>
    <%= form.label :area_code, style: "display: block" %>
    <%= form.text_field :area_code %>
  </div>

  <div>
    <%= form.label :km_dist, style: "display: block" %>
    <%= form.number_field :km_dist %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
