<div id="<%= dom_id location %>">
  <p>
    <strong>Barangay:</strong>
    <%= location.barangay %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= location.town %>
  </p>

  <p>
    <strong>Area code:</strong>
    <%= location.area_code %>
  </p>

  <p>
    <strong>Km dist:</strong>
    <%= location.km_dist %>
  </p>

</div>
